/public/
/resources/_gen/
/assets/jsconfig.json
.hugo_build.lock
hugo_stats.json
go.sum

# Latex files
./static/files/resume/resume*.aux
./static/files/resume/resume*.bcf
./static/files/resume/resume*.log

.DS_Store
static/.DS_Store